
*{margin: 0;padding: 0; box-sizing: border-box;}

:root{
  font-family: monospace;
  font-size: 1rem;
  --Blue-clr:#1976d3;
}
.landing-page-container{
  display: grid;
  justify-content: center;
  width: 80%;
  height: 90vh;
  margin: auto;
  margin-top: 2rem;
  grid-template-columns: 40% 60%;
  background-color: white;
  box-shadow: 0px 0px 15px #d3d4d5;
  border-radius: 1rem;
  place-items: center;
 
}
.landing-wrapper{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex-wrap: wrap;
  width: auto;
  margin: 2rem;
  padding:2rem;
}
.landingpage-header{
  font-size: 2.5rem;
}
.pera-1{
  font-size: 1.2rem;
  color: rgb(33, 33, 33);
  padding-top:1rem;
  width: 60%;
  flex-wrap: wrap;
  display: flex;
}
.heading-2{
  font-size: 1.5rem;
  padding-top: 6rem;
}
.heading-2-color{
font-size: 1.5rem;
color:var(--Blue-clr);
font-weight: 500;
}
.have-account{
  font-size: 1.2rem;
  color: var(--Blue-clr);
  font-weight: 100;
  padding-top: 1.5rem;
  text-decoration: none;
}
.landing-page-image{
  width: 80%;
  height:90% ;
  min-width: 10rem;
  overflow: hidden;
}
